/* #i{
    height: 200px;
    width: 200px;
}

#h{
    display: flex;
    flex-direction: row;
}
#d{ */
   
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    /* width: 100%; */
    /* border:  1px solid black; 
}

#d1{
    height: 200px; */
    /* width: 50%; */
    
/* }
#d2{
    width: 50%;
    height: 200px;
  
}
#d3{
    height: 200px;
    width: 50%;
   
}
/*  */
/* #ii{ 

    height: 20%;
    width: 50%; 
   border:  1px solid black; 
} */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */

/* #data{
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50vh;
    gap: 20px;
    background-color: chartreuse;
    color: rgb(177, 54, 54);
    /* display: flex; */
    /* border: 2px solid rgb(154, 26, 26);


    
}  */


/* #flex{ */
    /* border: 2px solid black; */
    /* height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#outer{
    height: 50vh;
    width: 50%;
    border: 2px solid blueviolet;
    background-color: rgb(215, 183, 245);
    text-align: center;
} */

/* 
#h{
    width: 100%;
    height: 100vh;
} */